<div id="PastEvents" class="order-first lg:ml-auto px-0 lg:order-last ltr:lg:pl-8 rtl:lg:pr-8">
  <div class="toc ltr:pl-5 rtl:pr-5 print:hidden lg:sticky lg:top-[140px]">
    <details open=""
      class="toc-right mt-0 overflow-y-auto overscroll-contain scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600 rounded-lg ltr:-ml-5 ltr:pl-5 rtl:-mr-5 rtl:pr-5 hidden lg:block">
      <summary
        class="block py-1 text-lg font-semibold cursor-pointer bg-neutral-100 text-neutral-800 ltr:-ml-5 ltr:pl-5 rtl:-mr-5 rtl:pr-5 dark:bg-neutral-700 dark:text-neutral-100 lg:hidden">
        舉辨過的活動
      </summary>
      <div
        class="min-w-[220px] py-2 border-dotted ltr:-ml-5 ltr:border-l ltr:pl-5 rtl:-mr-5 rtl:border-r rtl:pr-5 dark:border-neutral-600">
        <nav id="TableOfContents">
          <ul>
            <li>舉辨過的活動
              <ul>
                <li><a href="https://2023.odw.tw/">2023 研究資料管理工作坊</a></li>
                <li><a href="https://odw.tw/2021/">2021 研究資料管理工作坊</a></li>
                <li><a href="https://odw.tw/RDMTW2020/">Research Data Management Training Workshop 2020</a></li>
                <li><a href="https://odw.tw/RDMW2018/">2018 研究資料管理工作坊</a></li>
                <li><a href="https://odw.tw/2017/">2017 Colloquium on Communal Data Sharing</a></li>
                <li><a href="https://odw.tw/2016/">2016 Workshop on Collaborative Data Projects</a></li>
                <li><a href="https://odw.tw/jwodr2015">2015 Joint Workshop on Open Data Research</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </details>
    <details class="toc-inside mt-0 overflow-hidden rounded-lg ltr:-ml-5 ltr:pl-5 rtl:-mr-5 rtl:pr-5 lg:hidden">
      <summary
        class="py-1 text-lg font-semibold cursor-pointer bg-neutral-100 text-neutral-800 ltr:-ml-5 ltr:pl-5 rtl:-mr-5 rtl:pr-5 dark:bg-neutral-700 dark:text-neutral-100 lg:hidden">
        舉辨過的活動
      </summary>
      <div
        class="py-2 border-dotted border-neutral-300 ltr:-ml-5 ltr:border-l ltr:pl-5 rtl:-mr-5 rtl:border-r rtl:pr-5 dark:border-neutral-600">
        <nav>
          <ul>
            <li>
              <ul>
                <li><a href="https://2023.odw.tw/">2023 研究資料管理工作坊</a></li>
                <li><a href="https://odw.tw/2021/">2021 研究資料管理工作坊</a></li>
                <li><a href="https://odw.tw/RDMTW2020/">Research Data Management Training Workshop 2020</a></li>
                <li><a href="https://odw.tw/RDMW2018/">2018 研究資料管理工作坊</a></li>
                <li><a href="https://odw.tw/2017/">2017 Colloquium on Communal Data Sharing</a></li>
                <li><a href="https://odw.tw/2016/">2016 Workshop on Collaborative Data Projects</a></li>
                <li><a href="https://odw.tw/jwodr2015">2015 Joint Workshop on Open Data Research</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </details>
  </div>
</div>